In [163]:
import pandas as pd
ev1_raw_df = pd.read_excel("msb199356-sup-0003-datasetev1.xlsx", skiprows=1)
ev2_raw_df = pd.read_excel("msb199356-sup-0004-datasetev2.xlsx")

In [164]:
ev1_raw_df.rename(columns = {'Unnamed: 0': 'Genes', 'Unnamed: 1': 'Proteins'}, inplace=True)
ev1_raw_df.rename(columns = {k:k.split("]")[1].strip() for k in ev1_raw_df.columns[2:]}, inplace=True)
ev1_raw_df.drop("Genes", axis=1, inplace=True)
ev1_raw_df.set_index("Proteins", inplace=True)
ev1_df = ev1_raw_df.T.reset_index()
ev1_df.rename(columns = {'index': 'Samples'}, inplace=True)
ev2_raw_df.rename(columns={'sample name': 'Samples'}, inplace=True)
ev2_raw_df.rename(columns={k:"_" + k for k in ev2_raw_df.columns[1:]}, inplace=True)

In [166]:
df = pd.merge(ev1_df, ev2_raw_df, on="Samples", how='inner') # left: 210,1554 | inner: 197, 1554
print(df.columns)
print(df.shape)
df.describe()

Index(['Samples', 'A0A024QZX5;A0A087X1N8;P35237', 'A0A024R0T9;K7ER74;P02655',
       'A0A024R3B9;E9PJL7;E9PNH7;E9PR44;E9PRA8;P02511',
       'A0A024R3W6;A0A024R412;O60462;O60462-2;O60462-3;O60462-4;O60462-5;Q7LBX6;X5D2Q8',
       'A0A024R644;A0A0A0MRU5;A0A1B0GWI2;O75503', 'A0A075B6H7', 'A0A075B6H9',
       'A0A075B6I0', 'A0A075B6I1',
       ...
       '_age at CSF collection', '_gender', '_t-tau [ng/L]', '_p-tau [ng/L]',
       '_Abeta-42 [ng/L]', '_Abeta-40 [ng/L]', '_Abeta-42/Abeta-40 ratio',
       '_primary biochemical AD classification', '_clinical AD diagnosis',
       '_MMSE score'],
      dtype='object', length=1554)
(197, 1554)

,_age at CSF collection,_t-tau [ng/L],_p-tau [ng/L],_Abeta-42 [ng/L],_Abeta-40 [ng/L],_Abeta-42/Abeta-40 ratio,_MMSE score
count,197.000000,181.000000,98.000000,181.000000,121.000000,121.000000,83.000000
mean,67.725888,553.624309,72.448980,687.104972,10505.842975,0.078753,25.722892
std,12.122924,372.272096,40.868692,381.119236,5192.846673,0.046603,4.028294
min,20.000000,78.000000,16.000000,154.000000,2450.000000,0.015910,12.000000
25%,63.000000,275.000000,36.750000,417.000000,6608.000000,0.044879,23.500000
50%,70.000000,441.000000,73.500000,593.000000,9515.000000,0.066624,27.000000
75%,74.000000,802.000000,93.750000,892.000000,12967.000000,0.104904,29.000000
max,88.000000,2390.000000,233.000000,2206.000000,26080.000000,0.369508,30.000000

In [167]:
df.iloc[0,:][ev2_raw_df.columns]

Samples                                   20180618_QX0_JaBa_SA_LC12_5_CSF1_1_8-1xD1xS1fM...
_collection site                                                                     Sweden
_age at CSF collection                                                                   71
_gender                                                                                   f
_t-tau [ng/L]                                                                           703
_p-tau [ng/L]                                                                            85
_Abeta-42 [ng/L]                                                                        562
_Abeta-40 [ng/L]                                                                        NaN
_Abeta-42/Abeta-40 ratio                                                                NaN
_primary biochemical AD classification                                  biochemical control
_clinical AD diagnosis                                                                  NaN
_MMSE score                                                                             NaN
Name: 0, dtype: object